<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="inertial_macros.xacro" />

    <!-- MATERIALS -->

    <material name="white">
        <color rgba="1 1 1 1" />
    </material>

    <material name="black">
        <color rgba="0 0 0 1" />
    </material>

    <material name="phone">
        <color rgba="0 0 0 0.75" />
    </material>

    <material name="blue">
        <color rgba="0.0156 0.23137 0.3607 1" />
    </material>

    <material name="orange">
        <color rgba="1 0.3 0.1 1" />
    </material>

    <link name="base_link">

    </link>

    <!-- FRAME LINK -->

    <joint name="frame_joint" type="fixed">
        <parent link="base_link"/>
        <child link="frame"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="frame">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find hexapod)/meshes/frame.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find hexapod)/meshes/frame.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.174" x="0" y="0" z="0">
            <origin xyz="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <!-- FRAME SERVOS -->

    <joint name="servo1_joint" type="fixed">
        <parent link="frame"/>
        <child link="servo1"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="servo1">
        <visual>
            <origin xyz="0.057 0.075 0.0075" rpy="${pi/2} 0.0 ${pi/4}"/>
            <geometry>
                <box size="0.0405 0.0395 0.02"/>
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <origin xyz="0.057 0.075 0.0075" rpy="${pi/2} 0.0 ${pi/4}"/>
            <geometry>
                <box size="0.0405 0.0395 0.02"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.055" x="0.057" y="0.075" z="0.0075">
            <origin xyz="0.057 0.075 0.0075" rpy="${pi/2} 0.0 ${pi/4}"/>
        </xacro:inertial_box>
    </link>

    <joint name="servo2_joint" type="fixed">
        <parent link="frame"/>
        <child link="servo2"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="servo2">
        <visual>
            <origin xyz="0.07 0 0.0075" rpy="${pi/2} 0.0 0"/>
            <geometry>
                <box size="0.0405 0.0395 0.02"/>
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <origin xyz="0.07 0 0.0075" rpy="${pi/2} 0.0 0"/>
            <geometry>
                <box size="0.0405 0.0395 0.02"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.055" x="0.07" y="0" z="0.0075">
            <origin xyz="0.07 0 0.0075" rpy="${pi/2} 0.0 0"/>
        </xacro:inertial_box>
    </link>

    <joint name="servo3_joint" type="fixed">
        <parent link="frame"/>
        <child link="servo3"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="servo3">
        <visual>
            <origin xyz="0.055 -0.078 0.0075" rpy="${pi/2} 0.0 -${pi/4}"/>
            <geometry>
                <box size="0.0405 0.0395 0.02"/>
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <origin xyz="0.055 -0.078 0.0075" rpy="${pi/2} 0.0 -${pi/4}"/>
            <geometry>
                <box size="0.0405 0.0395 0.02"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.055" x="0.055" y="-0.078" z="0.0075">
            <origin xyz="0.055 -0.078 0.0075" rpy="${pi/2} 0.0 -${pi/4}"/>
        </xacro:inertial_box>
    </link>

    <joint name="servo4_joint" type="fixed">
        <parent link="frame"/>
        <child link="servo4"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="servo4">
        <visual>
            <origin xyz="-0.055 -0.078 0.0075" rpy="${pi/2} 0.0 ${pi/4}"/>
            <geometry>
                <box size="0.0405 0.0395 0.02"/>
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <origin xyz="-0.055 -0.078 0.0075" rpy="${pi/2} 0.0 ${pi/4}"/>
            <geometry>
                <box size="0.0405 0.0395 0.02"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.055" x="-0.055" y="-0.078" z="0.0075">
            <origin xyz="-0.055 -0.078 0.0075" rpy="${pi/2} 0.0 ${pi/4}"/>
        </xacro:inertial_box>
    </link>

    <joint name="servo5_joint" type="fixed">
        <parent link="frame"/>
        <child link="servo5"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="servo5">
        <visual>
            <origin xyz="-0.07 0 0.0075" rpy="${pi/2} 0.0 0"/>
            <geometry>
                <box size="0.0405 0.0395 0.02"/>
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <origin xyz="-0.07 0 0.0075" rpy="${pi/2} 0.0 0"/>
            <geometry>
                <box size="0.0405 0.0395 0.02"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.055" x="-0.07" y="0.0" z="0.0075">
            <origin xyz="-0.07 0 0.0075" rpy="${pi/2} 0.0 0"/>
        </xacro:inertial_box>
    </link>

    <joint name="servo6_joint" type="fixed">
        <parent link="frame"/>
        <child link="servo6"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="servo6">
        <visual>
            <origin xyz="-0.057 0.075 0.0075" rpy="${pi/2} 0.0 -${pi/4}"/>
            <geometry>
                <box size="0.0405 0.0395 0.02"/>
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <origin xyz="-0.057 0.075 0.0075" rpy="${pi/2} 0.0 -${pi/4}"/>
            <geometry>
                <box size="0.0405 0.0395 0.02"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.055" x="-0.057" y="0.075" z="0.0075">
            <origin xyz="-0.057 0.075 0.0075" rpy="${pi/2} 0.0 -${pi/4}"/>
        </xacro:inertial_box>
    </link>

    <!-- TOP -->

    <joint name="top_cover_joint" type="fixed">
        <parent link="frame"/>
        <child link="top_cover"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="top_cover">
        <visual>
            <origin xyz="0 0 0.014"/>
            <geometry>
                <mesh filename="file://$(find hexapod)/meshes/top_cover.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="blue"/>
        </visual>
        <collision>
            <origin xyz="0 0 0.014"/>
            <geometry>
                <mesh filename="file://$(find hexapod)/meshes/top_cover.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.05" x="0" y="0" z="0.014">
            <origin xyz="0 0 0.014"/>
        </xacro:inertial_box>
    </link>

    <joint name="phone_joint" type="fixed">
        <parent link="top_cover"/>
        <child link="phone"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="phone">
        <visual>
            <origin xyz="0 0 .024"/>
            <geometry>
                <box size="0.0699 0.1422 0.0079"/>
            </geometry>
            <material name="phone"/>
        </visual>
        <collision>
            <origin xyz="0 0 .024"/>
            <geometry>
                <box size="0.0699 0.1422 0.0079"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.15" x="0" y="0" z="0.024">
            <origin xyz="0 0 .024"/>
        </xacro:inertial_box>
    </link>

    <!-- BOTTOM -->

    <joint name="bottom_cover_joint" type="fixed">
        <parent link="frame"/>
        <child link="bottom_cover"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="bottom_cover">
        <visual>
            <origin xyz="0 0 .0175"/>
            <geometry>
                <mesh filename="file://$(find hexapod)/meshes/bottom_cover.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="blue"/>
        </visual>
        <collision>
            <origin xyz="0 0 .0175"/>
            <geometry>
                <mesh filename="file://$(find hexapod)/meshes/bottom_cover.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.045" x="0" y="0" z="0.0175">
            <origin xyz="0 0 .0175"/>
        </xacro:inertial_box>
    </link>

    <joint name="batterybar1_joint" type="fixed">
        <parent link="bottom_cover"/>
        <child link="batterybar1"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="batterybar1">
        <visual>
            <origin xyz="0 0.005 .0175"/>
            <geometry>
                <mesh filename="file://$(find hexapod)/meshes/battery_bar.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0 0.005 .0175"/>
            <geometry>
                <mesh filename="file://$(find hexapod)/meshes/battery_bar.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.004" x="0" y="0" z="0.0175">
            <origin xyz="0 0 .0175"/>
        </xacro:inertial_box>
    </link>

    <joint name="batterybar2_joint" type="fixed">
        <parent link="bottom_cover"/>
        <child link="batterybar2"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="batterybar2">
        <visual>
            <origin xyz="0 -0.075 .0175"/>
            <geometry>
                <mesh filename="file://$(find hexapod)/meshes/battery_bar.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0 -0.075 .0175"/>
            <geometry>
                <mesh filename="file://$(find hexapod)/meshes/battery_bar.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.004" x="0" y="-0.075" z="0.0175">
            <origin xyz="0 -0.075 .0175"/>
        </xacro:inertial_box>
    </link>

    <joint name="battery_joint" type="fixed">
        <parent link="bottom_cover"/>
        <child link="battery"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="battery">
        <visual>
            <origin xyz="0 0 -0.0225"/>
            <geometry>
                <box size="0.047 0.138 0.025"/>
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <origin xyz="0 0 -0.0225"/>
            <geometry>
                <box size="0.047 0.138 0.025"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.25" x="0" y="0" z="-0.0225">
            <origin xyz="0 0 -0.0225"/>
        </xacro:inertial_box>
    </link>

</robot>